# production requirements
pandas==0.25.3
numpy==1.18.1
scikit-learn==0.22.1
tensorflow==2.6.4
opencv-python==4.1.2.30
h5py==2.10.0

# packaging
setuptools==41.0.0
wheel==0.32.3

# testing requirements
pytest==5.3.2

# fetching datasets
kaggle==1.5.1.1
joblib==0.14.1







