# production requirements
pandas==0.23.4
numpy==1.16.0
scikit-learn==0.20.0
tensorflow==2.0.0
opencv-python==4.0.0.21
h5py==2.9.0
Theano==0.9.0

# packaging
setuptools==41.0.0
wheel==0.32.3

# testing requirements
# pytest==4.0.2

# fetching datasets
kaggle==1.5.1.1